<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>TEAM-FORZE</title>
  <link href="../static/assets/img/favicon_io/favicon-32x32.png" rel="icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="../static/assets/css/team.css">
    <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
    <header id="header" class="fixed-top " style="margin-top: 30px;">
        <div class="container d-flex align-items-center">
          <nav id="navbar" class="navbar">
            <ul>
              <li  id="zoom"><a class="btn btn-danger" href="{{ url_for('index') }}">Home <i class="bi bi-house-door"></i></a></li>
            </ul>
          </nav><!-- .navbar -->
    
        </div>
      </header><!-- End Header -->
<section>
    <section class="team-page-section">
        <div class="container">
            <!-- Sec Title -->
            <div class="sec-title centered">
                <div class="title">Our Squad</div>
                <div class="separator"><span></span></div>
                <h2>Everyday is a Battleground !</h2>
            </div>

            <div id="rw">

                <!-- Team Block 1-->
                <div class="team-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="https://github.com/Venemic"><i class="bi bi-github"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/singhshivam-007/"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                        <div class="image">
                            <a href="#"><img src="../static/assets/img/shivam.jpg" alt="" style="border-radius: 10px;" /></a>
                        </div>
                        <div class="lower-content" style="width: 30px;margin-top: 30px;">
                            <h3><a href="#">Shivam Singh</a></h3>
                        </div>
                    </div>
                </div>
                 <!-- Team Block 4-->
                 <div class="team-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="https://github.com/Aaditya188"><i class="bi bi-github"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/aaditya-prakash-36650b18b"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                        <div class="image">
                            <a href="#"><img src="../static/assets/img/aaditya.jpeg" alt="" style="border-radius: 10px;"/></a>
                        </div>
                        <div class="lower-content" style="width: 30px;margin-top: 30px;">
                            <h3><a href="#">Aaditya Prakash</a></h3>
                        </div>
                    </div>
                </div>
                <!-- Team Block 2-->
                <div class="team-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="https://github.com/ManasKhare3005"><i class="bi bi-github"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/manas-khare-69924020a"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                        <div class="image">
                            <a href="#"><img src="../static/assets/img/manas.jpeg" alt="" style="border-radius: 10px;"/></a>
                        </div>
                        <div class="lower-content" style="width: 30px;margin-top: 30px;">
                            <h3><a href="#">Manas Khare</a></h3>
                        </div>
                    </div>
                </div>
                <!-- Team Block 3-->
                <div class="team-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="https://github.com/AviTewari"><i class="bi bi-github"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/avi-tewari-34b8bb186/"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                        <div class="image">
                            <a href="#"><img src="../static/assets/img/avi.jpeg" alt="" style="border-radius: 10px;"/></a>
                        </div>
                        <div class="lower-content" style="width: 30px;margin-top: 30px;">
                            <h3><a href="#">Avi Tiwari</a></h3>
                        </div>
                    </div>
                </div>
               
                <!-- Team Block -->
               
            </div>
        </div>
    </section>
</section>
<!-- partial -->
  
</body>
</html>
